
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}{{ meqale.basliq }}{% endblock title %}
{% block content %}
<div class="col-sm-9 mb-4 ">

  


  <div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{meqale.sekil.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{meqale.basliq}}</h5>
          <p class="card-text">{{meqale.yazi|safe}}</p>
          <p>
            {% if user == meqale.yazar or user.is_superuser%}
            <a class='btn btn-primary' href="{% url 'meqale_redakte' slug=meqale.slug %}">Redakte et</a>
            <a class='btn btn-danger' href="{% url 'meqale_sil' slug=meqale.slug %}">Sil</a>
            
          {% endif %}
          </p>
          <p class="card-text"><small class="text-muted">{{meqale.redakte_tarixi|timesince}} əvvəl redaktə olundu</small></p>
   
          <p>
            <a href="{% url 'profil' meqale.yazar.username %}">{{meqale.yazar.username}}</a>
          </p>
          
        </div>
      </div>
    </div>
</div>




<br/>
<h3>Şərhlər</h3>
{% if request.user.is_authenticated  %}



<form  method="post">
  {% csrf_token %}
  {{serh_form|crispy}}
  <input type="submit" class='btn btn-dark mb-3 mt-3' value="Göndər">
</form>
{% else %}
<p class='mb-4 mt-4'>Şərh yazmaq üçün giriş etməlisiniz..</p>

{% endif %}


{% for serh in serhler %}
        
    <div class="card">
        <div class="card-body"style="display:flex;flex-direction:row;">
        <div class = 'm-2'>
            
            {% if serh.yazar.avatar %}
            <img src="{{ serh.yazar.avatar.url }}"class="rounded"class="pt-4"width="75px"height="75px">
            {% else %}
            <img src="{% static 'img/no-avatar.png' %}"class="rounded"class="pt-4"width="75px"height="75px">
            {% endif %}
                
            
        </div>
        <div >
            <h5 class="card-title">{{ serh.yazar.username }}</h5>
            <p class="card-text">{{ serh.yazi }}</p>

            {% if request.user == serh.yazar or request.user == serh.meqale.yazar %}
            
            <p>
            <a href="{% url 'serh_sil' id=serh.id %}" class = 'btn btn-danger'>Sil</a>
            </p>

            {% endif %}
        </div>
        </div>
    </div>
    <br/>
    {% empty %}
    <p>Bu məqalə üçün heç bir şərh yazılmayıb..</p>
    {% endfor %}





</div>
{% endblock content %}