{% extends 'base.html' %}
{% block title %}Məqalələrim{% endblock title %}
{% block content %}
<div  class="col-sm-9 mb-4">

  
  

  <table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Başlıq</th>
        <th scope="col">Kateqoriya</th>
        <th scope="col">Hərəkət</th>
      </tr>
    </thead>
    <tbody>


        {% for meqale in meqaleler %}
      <tr>
        <th scope="row">{{meqale.id}}</th>
        <td>
          <a href="{% url 'detay' slug=meqale.slug %}">{{meqale.basliq}}</td></a>
          
        <td>
        {% for adi  in meqale.kateqoriya.all %}
          
          {{ adi }},

        {% endfor %}
          </td>
        <td>
          
          <a class='btn btn-primary' href="{% url 'meqale_redakte' slug=meqale.slug %}">Redakte et</a>
            <a class='btn btn-danger' href="{% url 'meqale_sil' slug=meqale.slug %}">Sil</a>

        </td>
        
      </tr>
      {% empty%}
      <p>Heç bir məqalə tapılmadı..</p>
      {% endfor %}
    </tbody>
  </table>
 
    

  



  <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end">
        

        <ul class="pagination">
          {% if meqaleler.has_previous %}
        
            <li class="page-item">
              <a class="page-link" href="?sehife={{ meqaleler.previous_page_number }}" tabindex="-1" aria-disabled="true">Əvvəlki</a>
            </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Əvvəlki</a>
          </li>
          {% endif %}
          {% for i in meqaleler.paginator.page_range %}
            {% if meqaleler.number == i %}
            <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?sehife={{i}}">{{i}}</a></li>
            {% endif %}
          {% endfor %}
          {% if meqaleler.has_next %}

          <li class="page-item">
            <a class="page-link" href="?sehife={{ meqaleler.next_page_number }}">Növbəti</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Növbəti</a>
          </li>
          {% endif %}
        </ul>

      </ul>
  </nav>


</div>

{% endblock content %}