{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"  >
  </head>
  <body>

    
  {% include 'components/navbar.html' %}




    <div class="container mt-3">


      {% if messages %}
          <div class="alert alert-primary" role="alert">
              {% for message in messages %}
                      {{ message }}
              {% endfor %}
            </div>
      {% endif %}
        
        <div class="row">
          {% block content %}
          
          {% endblock content %}

        <!-- Sidebar -->
        
        {% include 'components/sidebar.html' %}

        <!-- Footer -->
        {% include 'components/footer.html' %}

    </div>

        
        

    
    
    
    
    
    
    
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>
  </body>
</html>