{% load kateqoriya_list %}
{% kateqoriya_list as kateqoriyalar %}
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'anasehife' %}">Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          
          {% for kategoriya in kateqoriyalar %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'kateqoriya' kateqoriyaSlug=kategoriya.slug %}">{{kategoriya.adi}}</a>
          </li>
          {% endfor %}
            
          
          
        </ul>
        <a class="navbar-brand" href="{% url 'elaqe' %}">Əlaqə</a>
        {% if request.user.is_superuser %}
        <a class="navbar-brand" target=blank href="/admin">Admin Panel</a>
        {% endif %}
        
        <form action = "{% url 'anasehife' %}" class="d-flex" role="search">
          <input class="form-control me-2" type="search" name = 'sorgu' placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>