<div class="col-sm-3">
  {% if request.user.is_authenticated %}
    <div class="card mb-3" >
      <div class="card-header">
        Menu
      </div>
      
   
      
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href = "{% url 'profil_redakte' %}">Profil redaktə et</a>
        </li>
        <li class="list-group-item">
          <a href = "{% url 'sifre_deyis' %}">Şifrə dəyiş</a>
         </li>
         <li class="list-group-item">
          <a href = "{% url 'meqale_yaz' %}">Məqalə yaz</a>
          
        </li>
         <li class="list-group-item">
         <a href = "{% url 'meqalelerim' %}">Məqalələrim</a>
        </li>
        <li class="list-group-item">
          <a href = "{% url 'cixis' %}">Çıkış et</a>
        </li>
      </ul>
      
        
       
       
    </div>
    {% endif %}
  </div>