<div class="col-sm-3">
    <div class="card mb-3" >
      <div class="card-header">
        Menu
      </div>
      
   
        {% if request.user.is_authenticated %}
        <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href = "{% url 'profil_redakte' %}">Profil redaktə et</a>
        </li>
        <li class="list-group-item">
          <a href = "{% url 'sifre_deyis' %}">Şifrə dəyiş</a>
         </li>
         <li class="list-group-item">
          <a href = "{% url 'meqale_yaz' %}">Məqalə yaz</a>
          
        </li>
         <li class="list-group-item">
         <a href = "{% url 'meqalelerim' %}">Məqalələrim</a>
        </li>
        <li class="list-group-item">
          <a href = "{% url 'cixis' %}">Çıkış et</a>
        </li>
      </ul>
        {% else %}
        
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a href = "{% url 'qeydiyyat' %}">Qeydiyyat</a>
          </li>
        </ul>
      
        {% endif %}
       
       
    </div>

  </div>